/* Make sure the filename doesn't extend past the bounds of the container */
.shiny-input-container input[type=file] {
    overflow: hidden;
    max-width: 100%;
}

.shiny-progress-container {
    position: fixed;
    top: 0px;
    width: 100%;
    /* Make sure it draws above all Bootstrap components */
    z-index: 2000;
}

.shiny-progress .progress {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 8px;
    margin: 0px;
}

.shiny-progress .bar {
    background-color: #FF0000;
    .opacity = 0.8;
    transition-duration: 250ms;
}

.shiny-progress .progress-text {
    position: absolute;
    right: 30px;
    height: 30px;
    width: 490px;
    /*background-color: #EEF8FF;*/
    background-color: #FF0000;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
    opacity: 0.85;
    /*Rounding*/
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.progress-text {
    top: 15px !important;
    text-align: center;
}

/* Bold Initial part of message */
.shiny-progress .progress-text .progress-message {
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 18px;
}

/* Detail of message */
.shiny-progress .progress-text .progress-detail {
    padding-top: 0px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    font-size: 15px;
}
